<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <img src="./static/pictures/Quality_Quesadillas.png">
        <ul>
            <div>
                <form action = "/">  
                <!-- <input type="file" name="file" />  
                <input type = "submit" value="Upload">   -->
        
                  <button>Home</button>
                  
                </div>
                </form>  
              </div>
              <div>
                <form action = "/us">  
                <!-- <input type="file" name="file" />  
                <input type = "submit" value="Upload">   -->
        
                  <button>About Us</button>
                  
                </div>
                </form>  
              </div>
              <div>
                <form action = "/talk">  
                <!-- <input type="file" name="file" />  
                <input type = "submit" value="Upload">   -->
        
                  <button>Talk to the AI</button>
                  
                </div>
                </form>  
              </div>
        </ul>
    </nav>
    <header>
        <div class="slides">
            <div id = "b" class="slide"></div>
            <div id = "c" class="slide"></div>
            <div id = "d" class="slide"></div>
            <div id = "e" class="slide"></div>
            <div id = "f" class="slide"></div>
        </div>
    </header>
    <!-- <div class = "row">
        <div class="item">
            <div class="card">
                <h1>1.</h1>
            </div>
        </div>
        <div class="item">
            <div class="card">
                <h1>2.</h1>
            </div>
        </div>
    </div> -->
    <!-- <video width="320" height="240" autoplay muted>
        <source src="movie.mp4" type="video/mp4">
    </video>       -->
    <h2>Our MVP tries to locate what country the photo was taken in from the following:</h2>
    <h2>-Brazil</h2>
    <h2>-Canada </h2>
    <h2>-Finland </h2>
    <h2>-France </h2>
    <h2>-Japan</h2> 
    <h2>with at least 80% accuracy</h2>
    <script src="../static/js/script.js"></script>
</body>
</html>