<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <img src="./static/pictures/Quality_Quesadillas.png">
        <ul>
            <div>
                <form action = "/">  
                <!-- <input type="file" name="file" />  
                <input type = "submit" value="Upload">   -->
        
                  <button>Home</button>
                  
                </div>
                </form>  
              </div>
              <div>
                <form action = "/product">  
                <!-- <input type="file" name="file" />  
                <input type = "submit" value="Upload">   -->
        
                  <button>Our Product</button>
                  
                </div>
                </form>  
              </div>
            <div>
                <form action = "/talk">  
                <!-- <input type="file" name="file" />  
                <input type = "submit" value="Upload">   -->
        
                  <button>Talk to the Ai</button>
                  
                </div>
                </form>  
              </div>
        </ul>
    </nav>
    <div class = "row">
        <div class="item">
            <div class="card">
                <img class="image" src="./static/pictures/christopher.jpg">
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class = "image" src="./static/pictures/tanay.jpg">
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class = "image" src="./static/pictures/shoma.png">
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class = "image" src="./static/pictures/IMG_0815.jpg">
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class = "image" src="./static/pictures/aviv.jpeg">
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class = "image" src="./static/pictures/IMG_0208.png">
            </div>
        </div>
        <div class="item">
            <div class="card">
                <img class = "image" src="./static/pictures/1581519149843.jpeg">
            </div>
        </div>

    </div>
    <!-- <video width="320" height="240" autoplay muted>
        <source src="movie.mp4" type="video/mp4">
    </video> -->
    <!-- <script src="../static/js/script.js"></script> -->
    <script src="../static/js/modal.js"></script>
</body>
</html>